/* Color scheme: https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/#google_vignette */

:root {
  --darkPink: #fe9c8f;
  --mediumPink: #feb2a8;
  --lightPink: #fec8c1;
  --beige: #fad9c1;
  --darkBeige: #f9caa7;
  --black: black;
  --white: white;
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px 0px;
}

body {
  background-color: var(--mediumPink);
}

header {
  background-color: var(--darkPink);
  border-bottom: 5px double var(--beige);
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

nav ul li {
  display: inline;
  font-size: 1.25rem;
}

li {
  padding: 10px 10px;
}

/* a:link is the default state of link, a:visited is the state of the link after being visited */
a:link,
a:visited {
  text-decoration: none;
  color: var(--black);
}

#home {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home h2 {
  font-size: 5rem;
}

#home p {
  font-size: 2rem;
}

#home img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: 5px dashed var(--black);
}

#about {
  background-color: var(--lightPink);
  height: 100vh;
}

.center {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 20px auto;
}

.images img {
  width: 38vh;
  height: 38vh;
  display: block;
  object-fit: cover;
  margin: 20px 10px;
  border: 5px solid var(--black);
}

.images {
  float: left;
}

.about-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 2rem;
  padding: 20px 20px;
}

#projects {
  height: 100vh;
}

.project-image {
  width: 40vh;
  height: 40vh;
  padding: 10px 10px;
}

.image-container {
  position: relative;
  display: inline;
  margin: 20px 0px;
}

.image-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--black);
  background-color: var(--white);
  padding: 5px 5px;
}

footer h2 {
  font-size: 3rem;
  float: left;
  padding-right: 20px;
}

footer a {
  padding: 30px;
}

footer a:hover {
  background-color: white;
  padding: 5px 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  background-color: var(--darkBeige);
  height: 15vh;
}

/* MEDIA QUERIES */

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* large mobile devices*/
@media screen and (max-width: 768px) {
  header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  #home h2 {
    font-size: 3rem;
  }

  #home p {
    font-size: 2rem;
  }

  #home {
    text-align: center;
  }

  .images img {
    width: 25vh;
    height: 25vh;
    display: inline;
  }

  .about-text {
    font-size: 1.75rem;
    padding: 5px 10px;
    display: inline-block;
  }

  .project-image {
    width: 30vh;
    height: 30vh;
    padding: 5px 5px;
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
  header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  #home h2 {
    font-size: 3rem;
  }

  #home p {
    font-size: 2rem;
  }

  #home {
    text-align: center;
  }

  .images img {
    width: 15vh;
    height: 15vh;
    display: inline;
  }

  .about-text {
    font-size: 1.25rem;
    padding: 5px 10px;
    display: inline-block;
  }

  .project-image {
    width: 20vh;
    height: 20vh;
    padding: 5px 5px;
  }
}
