/* Color scheme: https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/#google_vignette */

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px 0px;
}

body {
  background-color: #feb2a8;
}

header {
  background-color: #fe9c8f;
  border-bottom: 5px double #fad9c1;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

nav ul li {
  display: inline;
  font-size: 1.25rem;
}

li {
  padding: 10px 10px;
}

/* a:link is the default state of link, a:visited is the state of the link after being visited */
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

#home {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home h2 {
  font-size: 5rem;
}

#home p {
  font-size: 2rem;
}

#home img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: 5px dashed black;
}

#about {
  background-color: #fec8c1;
  height: 100vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about img {
  width: 20vh;
  height: 20vh;
}

#contact {
  background-color: #f9caa7;
  height: 7vh;
}

section,
footer {
  padding: 10px 10px;
}
